body {
  background: url('background.png') no-repeat center center fixed;
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
.container {
  width: 40%;
  margin-top: 125px;
  margin-left: 50px;
  padding: 10px;
  background:rgba(255,255,255,0.5);
}
.titulo {
  font-size: 50px;
}
.funcoes {
  font-weight: bold;
  font-size: 100px;
}
.timer {
  font-size: 15px;
}
.sim {
  color: green;
}
.nao {
  color: red;
}
.twitter-share-button {
  margin-top: 10px;
}
.element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0 auto;
  visibility: hidden;
}