body {
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}
.titulo {
}
.funcoes {
}
.timer {
}
.sim {
  color: green;
}
.nao {
  color: red;
}
